/* design body element and add a background image of a football pitch*/

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    background: url('../images/football.png') center;
}

/*Size and design Header element to fit inline with the container*/

.play {
    font-size: 35px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 2%;
}

/*Design box element & buttons which will operate the container element for the quiz game*/

.main-box {
    width: 500px;
    height: 60vh;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 15px;
    box-shadow: 10px 10px;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 10px 0;
}

.btn {
    border: 2px solid #3a3a3a;
    background-color: #5a5a;
    border-radius: 2px;
    padding: 1.5rem 3rem;
    outline: none;
    color: #fff;
    font-weight: bold;
}

.btn:hover {
    background-color: #f94230;
}

.btn.correct {
    --hue: var(--hue-correct);
    background-color: #00cd00;
}

.btn.wrong {
    --hue: var(--hue-wrong);
    background-color: #ff7373;

}

#start-button,
#next-button {
    font-size: 1rem;
    padding: 10px 20px;
}


#instruction {
    color: #3a3a3a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
}


/* design the controls and hide elements */

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.hide {
    display: none;
}


/* design the footer and social media icons */


.main-footer {
    justify-content: center;
    text-align: center;
    height: 10vh;
    
}

.footer {
    font-size: 40px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 5px;
    margin-bottom: 0;
    background-color: #f94230;
    border-radius: 15%;
    

}

.follow {

    color: #fafafa;
    margin: 1rem;
    font-size: 20px;
    text-align: center;
    gap: 5px;

}

#footer-email {

    width: 250px;
    height: 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    

}

#footer-email-btn {
    width: 100px;
    height: 35px;
    border-radius: 4px;
    background-color: #f94230;
    color: #fff;
    font-size: 1rem;
    padding: 0;
    outline: none;
    border: none;

}

.join {
    text-align: center;
    color: #fafafa;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

/* design Question Counter and Score elements */

#counter,
scores-bar {
    text-align: center;
}

.prefix {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

#counter,
#score {
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

/**Media Queries**/

/* Small Media to Medium screen size from min-width 280px to max-width 500px wide and down */

@media screen and (min-width: 280px) and (max-width:500px) {
    .play {
        font-size: 20px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .main-box {
        width: 320px;
        height: 100vh;
        padding-right: 1rem;
        justify-content: center;
        padding-left: 1rem;
        overflow-x: hidden;
        overflow-y: hidden;
        

    }

    body {
        justify-content: center;
        overflow-x: hidden;
        
        
    }

    .footer {
        font-size: 35px;
       
    
    

    }

    .follow {
        font-size: 0.8rem;
        text-align: center;
    }

    .join {
        font-size: 0.8rem;
    }

    #footer-email-btn {
        width: 30vw;
        height: 25px;
        text-align: center;
        margin-bottom: 0;

    }

    #footer-email {
        width: 60vw;
        font-size: 10px;
    }

    .btn {
        padding: 1rem 1rem;
        gap: 2px;
    }


}